*{
    font-family:  Garamond, serif;
    
}
.banner-section{

    background-image: url(../images/banner.png);
    background-repeat: no-repeat;
    width: 100%;    
    background-position: center;
    height: 100vh;
}
.next-vector{
    color: #B68C5A;
}
