*{
    font-family:  Garamond, serif;
    
}
.banner-section{

    background-image: url(../images/banner.png);
    background-repeat: no-repeat;
    width: 100%;    
    background-position: center;
    height: 100vh;
    
}
.next-vector{
    color: #B68C5A;
}

.carousel-text{
    margin-top: 130px !important; 
}

.slider-image-1 {
    background-image: url(../images/slider-1.jpg);  
    background-repeat: no-repeat; 
     background-size: 100%;
    height: 100vh;  
    
    border-radius: 10px;         
}
.slider-image-2 {
    background-image: url(../images/slider-2.jpg); 
     
    background-repeat: no-repeat; 
    background-size: 100%;
    height: 100vh;  
    border-radius: 10px;         
}
.slider-image-3 {
    background-image: url(../images/slider-3.jpg);  
    background-repeat: no-repeat; 
     background-size: 100%;    
     height: 100vh;        
    border-radius: 10px;       
}

.carousel-text{
    margin-top: 25px;
}
.text-img{
    width: 15%;
    height: 15%;
    border-radius: 50px;   

}
.text-img-2{
    width: 15%;
    height: 15%;
    border-radius: 50px;   

}
.text-img-3{
    width: 13%;
    height: 15%;
    border-radius: 50px;   

}
.faq-img{
    width: fit-content;
}
.bg-black{
    height: 50vh;
}

.last-img{
    width: 40%;
    height: 20%;
}


@media (max-width: 600px) {
    .faq-img{
        width: 350px;
    }

    .order-1{
display: flex;
justify-content: center;    }
.slider-image-1{
    height: 30vh;
}
.slider-image-2{
    height: 30vh;
}
.slider-image-3{
    height: 30vh;
}
.carousel-text{
    margin-top: 25px !important;
}
.bg-black{
    height: 100%;
    margin-bottom: 30px;
}
.last-img{
    width: 100px;
    height: 50px;
}
  }
